<div class="col-xs-2"></div>
<div class="col-xs-8">
    <div class="container" style="text-align:left">
        <h2 style="color:white;text-align:center">Login</h2>
        <div class="row">
            <label for="inputName" class="sr-only">E-mail</label>
            <input type="text" id="username" placeholder="E-mail" required autofocus>
        </div>
        <br />
        <div class="row">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="password" placeholder="Password" required>
        </div>
        <br />
        <div class="row" style="text-align:center">
        <button class="btn btn-lg btn-primary" ng-click="login()"> Login </button>
        </div>
    </div>
</div>
